/* Global */
html{height: 100%;/*FooterStickTrick*/}
body{
    height: 100%;/*SubWindow Trick*/
    font-family: Montserrat, Roboto, Arial, Helvetica, sans-serif;
    background: #303030;
    margin: 0;
    cursor: default;

    display: flex;/*FooterStickTrick*/
    flex-direction: column;/*FooterStickTrick*/
    min-height: 100%;/*FooterStickTrick*/
}
input{outline: none;}
::selection {background: transparent;}

::-webkit-scrollbar{height: 5px;}
::-webkit-scrollbar-thumb{background: #606060;border-radius: 15px;}
::-webkit-scrollbar-track{background:  #404040;}

/* Assets */
.Spacer{width: 100%;}

/* TitleBar */
#TitleBar svg{height: 40px; width: 40px;}
#TitleBar{
    background: #505050;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
#CloseWinButton{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FB1E46;
    fill: #303030;
    min-height: 40px;max-height: 40px;
    min-width: 40px;max-width: 40px;
    transition: 150ms;
}#CloseWinButton:hover{filter: brightness(75%);transition: filter 200ms}
#MaximizeButton{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #303030;
    fill: #F3F3F3;
    min-height: 40px;max-height: 40px;
    min-width: 40px;max-width: 40px;
    transition: 150ms;
}#MaximizeButton:hover{filter: brightness(75%);transition: filter 200ms}
#MinimizeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #303030;
    fill: #F3F3F3;
    min-height: 40px;max-height: 40px;
    min-width: 40px;max-width: 40px;
    transition: 150ms;
}#MinimizeButton:hover{filter: brightness(75%);transition: filter 200ms}
#TitleBarSpacer{
    width: 100%;
    -webkit-app-region: drag; /*Makes Drag Possible*/
}
#AddSongsButton{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #25FFB1;
    fill: #303030;
    min-height: 40px;max-height: 40px;
    min-width: 40px;max-width: 40px;
    transition: 150ms;
}#AddSongsButton:hover{filter: brightness(75%);transition: filter 200ms}

/* Drawer */
#DrawerToggleButton{
    position: fixed;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    

    width: 40px;
    height: 40px;
    background: #1BADFF;
    border-bottom-right-radius: 10px;
}#DrawerToggleButton:hover{filter: brightness(75%);transition: filter 200ms}
#DrawerToggleButton svg{height: 35px; width: 35px;}
#Drawer{
    display: block;
    margin-top: 40px;
    position: fixed;
    height: 100%;

    background: #606060;
    width: 230px;
    border-top-right-radius: 25px;
}
#DrawerLogo{
    padding-left:40px ;
    height: 30px;
    padding-top: 5px;
}
.DrawerSectionContainer{
    height: 84%;
    overflow-y: auto;
}
.DrawerSection{
    margin-top: 10px;
    padding-bottom: 10px;
    background: #505050;
}

.DrawerSectionDropDown{border-radius: 100%;height: 50px; width: 50px;min-width: 50px;transform: rotate(180deg);transition: 150ms;}
.DrawerSectionDropDown:hover{background: #35353535;transition: 200ms;}

.DrawerSectionPlay{border-radius: 100%;height: 50px; width: 50px;min-width: 50px;fill: #25FFB1;transition: 150ms;}
.DrawerSectionPlay:hover{background: #35353535;transition: 200ms;}

.DrawerSectionPause{border-radius: 100%;height: 50px; width: 50px;min-width: 50px;fill: #FB1E46;transition: 150ms;}
.DrawerSectionPause:hover{background: #35353535;transition: 200ms;}

.DrawerSectionTitle{
    height: 50px;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #F3F3F3;
    background: #1BADFF;
    fill: #F3F3F3;
    overflow: auto;

    display: flex;
    justify-content: left;
    align-items: center;
}
.DrawerSectionItem{
    margin-top: 5px;
    height: 50px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #F3F3F3;
    background: #606060;
    overflow: auto;

    display: flex;
    justify-content: left;
    align-items: center;
}
.DrawerSectionItemSelected{
    color: #303030;
    background: #25FFB1;
}

/* Playback Control*/
#PlaybackControls{
    position: relative;
    bottom: 0;
    margin-top: auto;/*FooterStickTrick*/
    margin-left: 230px;
    height: 100px;
    padding-top: 5px;
    background: #505050;
    fill: #303030;

    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}#PlaybackControls svg{height: 50px; width: 50px;}
#SongInfoSpacer{height: 70px;min-width: 400px;margin-left: 5px;transition: 150ms;}
#SongInfo{
    position: absolute;
    top: 10px;
    left: 5px;
    height: 70px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 10px;

    display: flex;
    justify-content: right;
    align-items: center;
    transition: 150ms;
}#SongInfo:hover{background: #454545;transition: 200ms;}
#SongInfoPicture{
    background: #F3F3F3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70px;min-width: 70px;
    max-height: 70px;max-width: 70px;
    border-radius: 10px;
    margin-right: 5px;
}
#SongInfoText{
    display: flex;
    flex-direction: column;
    color: #F3F3F3;
}
#SongInfoName{font-size: 20px;font-weight: bold;}
#SongInfoArtist{font-size: 18px;}
#SongInfoGenre{font-size: 18px;font-weight: lighter;}
@media (max-width: 1310px) {
    #SongInfoSpacer{min-width: 0px;transition: 200ms;}
    #SongInfo{
        top: -100px;
        left: 10px;
        background: #25FFB1;
        padding: 10px;
    }
    #SongInfoText{color: #303030;}
    #SongInfoPicture{
        background: #303030;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #SongInfo:hover{
        background: #25FFB1;
        opacity: 0.9;
    }
    #MainBody{margin-bottom: 95px;}
    #MainBody::-webkit-scrollbar-track{border-radius: 15px;}
}

#MusicProgressBar{
    position: absolute;
    top: -2px;

    -webkit-appearance: none;
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #FB1E46 0%, #505050 0%);
}#MusicProgressBar::-webkit-slider-thumb{display: none;}
#MusicProgressBarControl{
    position: absolute;
    top: -2px;

    -webkit-appearance: none;
    height: 5px;
    width: 100%;
    background: transparent;
}#MusicProgressBarControl::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
    background: transparent;
}

#PreviousButton{
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: 150ms;

    display: flex;
    justify-content: center;
    align-items: center;
}#PreviousButton:hover{background: #454545;transition: 200ms;}
#NextButton{
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: 150ms;

    display: flex;
    justify-content: center;
    align-items: center;
}#NextButton:hover{background: #454545;transition: 200ms;}
#MainActionButton{
    background: #303030;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* margin: 0px 10px; */
    transition: 150ms;
    fill: #505050;

    display: flex;
    justify-content: center;
    align-items: center;
}#MainActionButton svg{height: 50px; width: 50px;}
#MainActionButton:hover{background: #353535;transition: 200ms;}
#MainActionProgress{
    background: conic-gradient(#FB1E46 0%, #505050 0%);
    min-width: 56px;
    max-width: 56px;
    min-height: 56px;
    max-height: 56px;
    border-radius: 100%;
    margin: 0px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#SuffleOrLoopDiv{
    background: #303030;
    max-width: 100px;
    min-width: 100px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
    fill: #606060;
    transition: 150ms;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}#SuffleOrLoopDiv svg{margin-top: 5px; height: 30px; width: 30px;transition: 200ms;}
#SuffleOrLoopDiv:hover{background: #353535;transition: 200ms;}
#SoundControlDiv{
    background: #303030;
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
    transition: 150ms;
    fill: #606060;

    display: flex;
    justify-content: center;
    align-items: center;
}#SoundControlDiv svg{margin-top: 5px; height: 30px; width: 30px;}
#SoundControlDiv:hover{
    padding-right: 5px;
    justify-content: space-evenly;
    background: #353535;
    max-width: 160px;
    min-width: 160px;
    transition: 200ms;
}
#SoundSlider{
    display: none;
    -webkit-appearance: none;
    background: linear-gradient(to right, #FB1E46 100%, #606060 100%);
    width: 100%;
    max-width: 100px;
    height: 5px;
    border-radius: 5px;
}
#SoundSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #25FFB1;
    transition: 150ms;
}#SoundSlider::-webkit-slider-thumb:hover{box-shadow: 0 0 0 10px #25FFB130;transition: 200ms;}
#SoundControlDiv:hover #SoundSlider{display: block;}
#ClosedCaptionsToggle{
    background: transparent;
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 10px;
    transition: 150ms;

    display: flex;
    justify-content: center;
    align-items: center;
}#ClosedCaptionsToggle svg{height: 40px; width: 40px;}
#ClosedCaptionsToggle:hover{background: #454545;transition: 200ms;}
#MiniPlayerButton{
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 10px;
    transition: 150ms;

    display: flex;
    justify-content: center;
    align-items: center;
}#MiniPlayerButton:hover{background: #454545;transition: 200ms;}
#SongLength{
    background: #606060;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    color: #F3F3F3;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* _MainBody_ */
#BackGroundImage{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    margin-top: -50px;
}
#SearchBar{
    position: absolute;
    top: 40px;
    right: 120px;

    background: #505050;
    width: 295px;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
}
#SearchFilter{
    position: absolute;
    top: 5px;
    left: 5px;

    height: 30px;
    border-radius: 0px 0px 8px 8px;
    background: #303030;
    color: #606060;
    font-weight: bold;
    border: none;
}
#SearchField{
    position: absolute;
    top: 5px;
    right: 40px;

    border-bottom-left-radius: 8px;    
    height: 30px;
    border: none;
    padding: 0px 5px;
    background: #303030;
    color: #F3F3F3;
}#SearchField::selection{
    background: #25FFB1;
}
#SearchButton{
    position: absolute;
    top: 5px;
    right: 5px;

    height: 30px;
    width: 35px;
    border-bottom-right-radius: 8px;
    background: #25FFB1;
    fill: #505050;

    display: flex;
    align-items: center;
    justify-content: center;
}
#MainBody{
    height: 100%;/*SubWindow Trick*/
    overflow: auto;/*SubWindow Trick*/
    margin-top: 45px;
    margin-left: 230px;
    padding: 10px;
    background: #303030;
    display: flex;
    flex-wrap: wrap;
}

/* OverPanel */



/* SongItem */
.SongItem{
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    padding: 5px;
}
.SongItemPlay{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 40px;
    width: 40px;
    fill: #1BADFF;
    border-radius: 100%;
    transition: 150ms;
}.SongItemPlay:hover{
    background: #35353535;
    transition: 200ms;
}
.SongItemMore{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
    fill: #F3F3F3;
    border-radius: 100%;
    transition: 150ms;
}.SongItemMore:hover{
    background: #35353535;
    transition: 200ms;
}
.SongItemLength{
    position: absolute;
    background: #35353535;
    color: #F3F3F3;
    padding: 5px;
    border-radius: 5px;
    bottom: 115px;
    right: 15px;
}
.SongItemDisplay{
    background: #505050;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}
.SongItemInfo{
    position: relative;
    background: #1BADFF;
    width: 200px;
    height: 100px;
    border-radius: 0px 0px 15px 15px;
    color: #303030;
    transition: 200ms;
}
.SongItemInfo SongName{
    position: absolute;
    top: 8px;
    left: 8px;

    font-size: 18px;
    font-weight: bold;
}
.SongItemInfo OtherInfo{
    position: absolute;
    top: 50px;
    left: 8px;

    font-size: 15px;
}

/* Over Page */
#OverPage{
    display: none;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #303030;
}